<div id="post" v-cloak>

    <div class="container">
      <h3> <%= post.title %></h3>
      <p> <%= post.body %></p>

      <% comments.forEach(function(comment){ %>
        <p <% if(comment.isItalic){%><%= 'class=italic' %><%}%>>
          <%= comment.body %>
        </p>
        <h6>commented by <%= comment.commentedBy %></h6>
      <% }) %>

      <form action="comment/<%= post.id %>" method="post">
        <input type="hidden" name="_csrf" value="<%- _csrf %>" />
        <textarea name="comment" id="" cols="30" rows="10"></textarea>
        <% if(user.isPremium) { %>
          <input type="checkbox" name="italic" value="true">
          <label for="italic">Check the box to make your comment italic</label>
        <% } %>
        <input type="submit" value="Place comment">
      </form>

    </div>

  </div>
  <%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
